{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Post</title>
    <link rel="stylesheet" href="{% static '/css/register.css'%}">
    <link rel="stylesheet" href="{% static '/css/normolize.css'%}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
</head>
<body>
    <article class="article">
        <h1>Создание поста</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div>
                <label for="id_image">{{ form.image.label }}</label>
                {{ form.image }}
            </div>
            <div>
                <label for="id_text">{{ form.text.label }}</label>
                {{ form.text }}
            </div>
            <button type="submit">Создать пост</button>
        </form>
    </article>
    
</body>
</html>
