{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Detail</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/normolize.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>
        <a href="{% url 'post_list' %}">
            <h3>LOGO</h3>
        </a>
        <!-- {% if user_data %}
        <a class="login1" href="{% url 'logout' %}">Выход</a>
        <a href="">
            <div class="avatar"></div>
                {{ user_data.nickname|first }}
            </div>
        </a>
        {% else %}
        <div class="login">
            <a href="{% url 'register' %}">Регистрация</a>
            <a class="login1" href="{% url 'login' %}">Вход</a>
        </div>
        {% endif %} -->
    </header>

    <article class="article">
        <div class="post_blok_detail">
            <div class="post_img">
                <img src="{{ post.image }}" alt="Post Image">
            </div>
            <div class="post_text">
                <p>{{ post.text }}</p>
            </div>
            <div class="post_user">
                <p>Автор: {{ user.nickname }}</p>
            </div>
            <div class="post_likes">
                <button id="like-button" data-post-id="{{ post.id }}">
                    {% if user_liked %}♥{% else %}♡{% endif %}
                </button>
                <span id="like-count">{{ like_count }}</span>
            </div>


            <div class="comments">
                <h3>Comments</h3>
                <form id="comment-form"></form>
                {% csrf_token %}
                <textarea id="comment-text" name="text" placeholder="Напишите комментарий..." required></textarea>
                <button class="comment-button" type="submit">Добавить комментарий</button>
                </form>
                <ul id="comments-list">
                    {% for comment in comments %}
                    <div class="comment">
                        <li>
                            <strong>{{ comment.user.nickname }}:</strong> {{ comment.text }}
                        </li>
                    </div>

                    {% endfor %}
                </ul>

            </div>
        </div>


    </article>

    <script>
        document.getElementById('like-button').addEventListener('click', function () {
            const postId = this.dataset.postId;
            fetch(`/post/${postId}/toggle_like/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                }
            })
                .then(response => response.json())
                .then(data => {
                    if (data.liked) {
                        this.textContent = '♥'; // Измените текст на символ сердца
                        this.classList.add('liked');
                    } else {
                        this.textContent = '♡'; // Измените текст на пустое сердце
                        this.classList.remove('liked');
                    }
                    document.getElementById('like-count').textContent = data.like_count;
                });
        });


        document.getElementById('comment-form').addEventListener('submit', function (event) {
            event.preventDefault();
            const postId = '{{ post.id }}';
            const text = document.getElementById('comment-text').value;
            fetch(`/post/${postId}/add_comment/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: new URLSearchParams({
                    text: text
                })
            })
                .then(response => response.json())
                .then(data => {
                    const commentsList = document.getElementById('comments-list');
                    commentsList.innerHTML = '';
                    data.comments.forEach(comment => {
                        const li = document.createElement('li');
                        li.innerHTML = `<strong>${comment.user.nickname}:</strong> ${comment.text}`;
                        commentsList.appendChild(li);
                    });
                    document.getElementById('comment-text').value = '';
                });
        });
    </script>
</body>

</html>